@model Mobiles.Core.Models.Smartphone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Smartphone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryPower_mAh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryPower_mAh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDualSim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDualSim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalMemory_GB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalMemory_GB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram_MB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram_MB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu!.ToString())
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
